body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.class-intro h1 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: auto;
  animation:
    typing 3.5s steps(40, end);
}

@keyframes typing {
  from { width: 0}
  to { width: 75%}
}


