body {
  font-family: "Roboto", dank-mono;
  background-color: #001122;
  color: #ffffff;
}

.dark-mode {

}
header a {
  color: #ffffff;
}
header a:hover {
  color: rgb(230, 230, 230);
}
.class-intro p {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: auto;
  font-size: 50px;
  margin: auto;
  position: left;
  text-justify: auto;
}

@keyframes typing {
  from { width: 0}
  to { width: 50%}
}


