body {
  font-family: "Roboto", sans-serif;
  background-color: #f0eeeb;
  color: #333;
}
img {
  width: 200px;
  height: 200px;
  padding: 30px;
}

section {
  padding: 90px 20px; /* Add more top padding */
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form {
  text-align: center;
  margin: 0 auto; /* Center horizontally */
}

#link-icons {
  text-decoration: none;
}
